In [1]:
#15.1

In [2]:
from zoo import hours as menagerie

In [3]:
#15.2

In [4]:
menagerie()

'Open 9-5 daily'

In [5]:
#16.1-16.8

In [16]:
import csv 
import sqlite3

conn = sqlite3.connect('enterprise.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (Title VARCHAR(20) PRIMARY KEY,
    Author VARCHAR(20),
    Publisher VARCHAR(20))''')


with open('books2.csv') as csvfile:
    bookreader = csv.reader(csvfile)
    header = []
    header = next(bookreader)
    print(header)
    
    books = []
    titles = []
    authors = []
    
    for row in bookreader:
        titles.append(row[0])
        books.append(row)
        curs.execute(f'INSERT INTO books VALUES("{row[0]}","{row[1]}","{row[2]}"')
    print(books)

['title', 'author', 'year']

OperationalError: incomplete input

In [15]:
import csv 
import pyodbc
import pandas as pd


with open('books2.csv') as csvfile:
    bookreader = csv.reader(csvfile)
    header = []
    header = next(bookreader)
    print(header)
    
    books = []
    titles = []
    authors = []
    
    for row in bookreader:
        titles.append(row[0])
        books.append(row)
    print(books)

['title', 'author', 'year']
The Weirdstone of Brisingamen
Perdido Street Station
Thud!
The Spellman Files
Small Gods
[['The Weirdstone of Brisingamen', 'Alan Garner', '1960'], ['Perdido Street Station', 'China Mi√©ville', '2000'], ['Thud!', 'Terry Pratchett', '2005'], ['The Spellman Files', 'Lisa Lutz', '2007'], ['Small Gods', 'Terry Pratchett', '1992']]